@define-color space    #f94f9f;
@define-color audio    #faae2b;
@define-color temp     #00c965;
@define-color memory   #1ea7fd;
@define-color cpu      #00c965;
@define-color clock    #5c6bc0;

@define-color white #ffffff;
@define-color black #000000;
@define-color workspace-focus #c9545d;
@define-color net-disconnected #f53c3c;

/* === Global Styles === */
* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 20px;
    min-height: 0;
}

#clock, 
#custom-temp, 
#memory, 
#pulseaudio, 
#custom-space,
#custom-netspeed {
    padding-left: 10px;
    padding-right: 10px;
}

#workspaces {
    padding-left: 10px;
}

/* === Waybar Window === */
window#waybar {
    background: @black;
    color: @white;
}

/* === Pulseaudio === */
#pulseaudio {
    background-color: @audio;
    color: black;
}

#custom-quote {
    background-color: white;
    color: black;
    font-family: "JetBrainsMono Nerd Font", monospace;
}

/* === Custom Arrows === */
#custom-arrow-audio {
    background-color: @audio;
    color: @temp;
    font-family: "JetBrainsMono Nerd Font";
}

#custom-arrow-temp {
    background-color: @temp;
    color: @cpu;
    font-family: "JetBrainsMono Nerd Font";
}

#custom-arrow-cpu {
    background-color: @cpu;
    color: @memory;
    font-family: "JetBrainsMono Nerd Font", monospace;
}

#custom-arrow-memory {
    background-color: @memory;
    color: @clock;
    font-family: "JetBrainsMono Nerd Font";
}

#custom-arrow-end {
    background-color: transparent;
    color: @space;
    font-family: "JetBrainsMono Nerd Font";
}

#custom-netspeed {
    background-color: @netspeed;
    color: #ffffff;
}

#custom-arrow-netspeed {
    background-color: @netspeed;
    color: @space;
    font-family: "JetBrainsMono Nerd Font", monospace;
}

#custom-space {
    background-color: @space;
    color: #ffffff;
}

#custom-arrow-space {
    background-color: @space;
    color: @audio;
    font-family: "JetBrainsMono Nerd Font", monospace;
}

#custom-temp {
    background-color: @temp;
    color: #ffffff;
}

#cpu {
    background-color: @cpu;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

#memory {
    background-color: @memory;
    color: #ffffff;
}

#clock {
    background-color: @clock;
}

#workspaces button {
  padding: 0 5px;
  background: #222;      /* Default background */
  color: #ccc;           /* Default text color */
  border: none;
}

#workspaces button.active {
  background: #5294e2;   /* Background for active workspace */
  color: #fff;           /* Text color for active workspace */
}

#window {
    font-weight: bold;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid @white;
}

#battery icon {
    color: @audio;
}

#battery.warning:not(.charging) {
    color: @white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* === Network === */
#network.disconnected {
    background: @net-disconnected;
}

/* === Animation === */
@keyframes blink {
    to {
        background-color: @white;
        color: @black;
    }
}
